.container {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: row;
}

.item {
  width: 150px;
  height: 150px;
}

.purple {
  background: #b02afe;
}

.yellow {
  background: #ffd62a;
}

.green {
  background: #51d400;
}