.u-section-1 {background-image: url("images/IntroscreenBerci.PNG"); background-position: 50% 50%; min-height: 100vh}
.u-section-1 .u-group-1 {min-height: 150px; background-image: none; margin-top: -1px; margin-bottom: 0; height: auto; margin-left: 0}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {margin: 0}
.u-section-1 .u-btn-1 {border-style: solid; font-size: 1.125rem; background-image: none; margin: 602px auto 21px calc(((100% - 1140px) / 2) + 508px)} 

@media (max-width: 1199px){ .u-section-1 .u-group-1 {margin-top: -2px; margin-left: initial}
.u-section-1 .u-btn-1 {margin-top: 603px; margin-left: calc(((100% - 940px) / 2) + 408px)} }

@media (max-width: 991px){ .u-section-1 .u-btn-1 {margin-left: auto} }

@media (max-width: 767px){ .u-section-1 .u-container-layout-1 {padding: 5px 10px} }

@media (max-width: 575px){ .u-section-1 .u-btn-1 {margin-top: 585px; margin-bottom: 16px} }