.u-section-1 {background-image: url("images/IntroscreenBerci.PNG"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-group-1 {min-height: 150px; background-image: none; margin: 7px auto 0 0}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {margin: 0}
.u-section-1 .u-btn-1 {margin: 599px auto 0 0; padding: 10px 545px 10px 544px} 

@media (max-width: 1199px){ .u-section-1 .u-group-1 {margin-top: 0; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-1 {margin-left: -50px; margin-right: -50px; padding-right: 496px; padding-left: 494px} }

@media (max-width: 991px){ .u-section-1 .u-btn-1 {margin-top: 606px; padding-top: 9px; padding-right: 385px; padding-left: 384px} }

@media (max-width: 767px){ .u-section-1 .u-container-layout-1 {padding: 5px 10px}
.u-section-1 .u-btn-1 {padding-right: 295px; padding-left: 294px} }

@media (max-width: 575px){ .u-section-1 .u-btn-1 {padding-left: 195px; padding-right: 195px} }