.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/34298154-0.jpeg")}
.u-section-1 .u-sheet-1 {min-height: 50vw}
.u-section-1 .u-text-1 {font-family: "Source Sans Pro", sans-serif; font-weight: normal; margin: 256px auto 0 295px}
.u-section-1 .u-text-2 {font-size: 1.875rem; background-image: none; width: 628px; font-family: "Source Sans Pro", sans-serif; margin: 37px auto 0}
.u-section-1 .u-btn-1 {font-size: 1.875rem; margin: 55px auto 60px} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-text-1 {margin-top: 251px; margin-left: auto}
.u-section-1 .u-btn-1 {border-style: none; padding: 1px 13px 1px 12px} }

@media (max-width: 767px){ .u-section-1 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {margin-left: 32px; margin-right: 32px}
.u-section-1 .u-text-2 {margin-left: 0; margin-right: 0; width: 340px}
.u-section-1 .u-btn-1 {font-size: 1.125rem; border-style: solid; padding-top: 11px; padding-bottom: 11px} }.u-section-2 {background-image: linear-gradient(#478ac9, #f9e79b)}
.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-2 .u-image-1 {min-height: 410px; background-image: url("images/34298154-01.jpeg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 410px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-1 {font-size: 1.875rem; font-weight: 700; margin: 10px 0}
.u-section-2 .u-line-1 {width: 456px; height: 3px; margin: 19px auto 0 27px}
.u-section-2 .u-text-2 {font-size: 1.125rem; background-image: none; margin: 10px -1px}
.u-section-2 .u-text-3 {font-size: 1.875rem; font-weight: 700; margin: 10px -1px}
.u-section-2 .u-line-2 {width: 456px; height: 3px; margin: 8px auto 0}
.u-section-2 .u-text-4 {font-size: 1.125rem; margin: 10px 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 430px}
.u-section-2 .u-layout-wrap-1 {position: relative}
.u-section-2 .u-image-1 {min-height: 338px}
.u-section-2 .u-layout-cell-2 {min-height: 338px}
.u-section-2 .u-line-1 {width: 410px; margin-left: 0}
.u-section-2 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-3 {margin-left: -3px}
.u-section-2 .u-line-2 {width: 410px}
.u-section-2 .u-text-4 {height: 84px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 353px}
.u-section-2 .u-image-1 {min-height: 259px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-line-1 {width: 300px}
.u-section-2 .u-text-3 {margin-left: -2px}
.u-section-2 .u-line-2 {width: 300px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 580px}
.u-section-2 .u-image-1 {min-height: 389px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-1 {font-size: 1.5}
.u-section-2 .u-text-2 {margin-left: -1px; margin-right: -1px}
.u-section-2 .u-text-3 {margin-right: -2px; margin-left: -4px; font-size: 1.5} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 439px}
.u-section-2 .u-image-1 {min-height: 245px}
.u-section-2 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-3 {margin-right: -1px; margin-left: -2px} }.u-section-3 .u-sheet-1 {min-height: 349px}
.u-section-3 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-3 .u-layout-cell-1 {min-height: 505px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-image-1 {width: 250px; height: 250px; background-image: url("images/profile-pic1.png"); background-position: 50% 50%; margin: -7px auto 0}
.u-section-3 .u-text-1 {margin: 15px 99px 0 auto}
.u-section-3 .u-text-2 {font-weight: 700; margin: 10px auto 0 87px}
.u-section-3 .u-image-2 {width: 26px; height: 26px; margin: 7px auto 0}
.u-section-3 .u-text-3 {font-size: 1.125rem; margin: 0 64px 0 79px}
.u-section-3 .u-image-3 {width: 24px; height: 24px; margin: 12px auto 0}
.u-section-3 .u-text-4 {font-size: 1.125rem; width: 188px; margin: 0 auto}
.u-section-3 .u-layout-cell-2 {min-height: 480px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-text-5 {line-height: 1.8; background-image: none; font-size: 1.125rem; margin: 28px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 26px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 416px}
.u-section-3 .u-text-1 {width: 188px; margin-right: auto}
.u-section-3 .u-text-2 {margin-left: auto}
.u-section-3 .u-image-2 {margin-top: 14px}
.u-section-3 .u-text-3 {width: 235px; margin-top: 10px; margin-right: 33px; margin-left: 33px}
.u-section-3 .u-image-3 {margin-top: 25px}
.u-section-3 .u-text-4 {margin-left: -3px; margin-right: -3px}
.u-section-3 .u-layout-cell-2 {min-height: 396px} }

@media (max-width: 991px){ .u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-image-1 {width: 216px; height: 216px}
.u-section-3 .u-text-1 {margin-left: 56px; margin-right: 56px}
.u-section-3 .u-text-3 {margin-left: 0; margin-right: 0; width: 216px}
.u-section-3 .u-text-4 {width: 306px; height: 50px; margin-left: 20px}
.u-section-3 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-1 {margin-left: 134px; margin-right: 136px}
.u-section-3 .u-text-4 {margin-left: 49px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-layout-cell-1 {min-height: 608px}
.u-section-3 .u-image-1 {margin-top: 11px}
.u-section-3 .u-text-1 {margin-left: auto; margin-right: auto}
.u-section-3 .u-image-2 {margin-top: 11px}
.u-section-3 .u-text-3 {width: 320px; height: 58px; margin-top: 3px}
.u-section-3 .u-image-3 {margin-top: 7px}
.u-section-3 .u-text-4 {margin-left: 7px; margin-right: 7px} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 299px}
.u-section-4 .u-layout-wrap-1 {margin: 26px auto 20px 0}
.u-section-4 .u-layout-cell-1 {min-height: 253px}
.u-section-4 .u-container-layout-1 {padding: 20px 60px}
.u-section-4 .u-shape-1 {height: 251px; width: 1140px; margin: 0 auto 0 -60px}
.u-section-4 .u-text-1 {margin: -218px 55px 0 -55px}
.u-section-4 .u-text-2 {font-size: 1.125rem; line-height: 1.8; margin: 17px 58px 37px -58px}
.u-section-4 .u-layout-cell-2 {min-height: 253px}
.u-section-4 .u-container-layout-2 {padding: 20px}
.u-section-4 .u-btn-1 {background-image: none; font-size: 1.125rem; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 209px}
.u-section-4 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-shape-1 {width: 642px; margin-left: 0}
.u-section-4 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-4 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-4 .u-layout-cell-2 {min-height: 209px}
.u-section-4 .u-btn-1 {margin-left: -1px; margin-right: -1px; border-style: solid} }

@media (max-width: 991px){ .u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-shape-1 {width: 456px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-btn-1 {margin-left: auto; margin-right: auto} }

@media (max-width: 767px){ .u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-shape-1 {height: 260px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-shape-1 {height: 319px; width: 320px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 406px}
.u-section-5 .u-text-1 {font-weight: 700; margin: 40px 573px 0 0}
.u-section-5 .u-text-2 {letter-spacing: 0; line-height: 2; margin: 20px auto 0 0}
.u-section-5 .u-layout-wrap-1 {width: 1140px; margin: 20px 0 60px}
.u-section-5 .u-image-1 {min-height: 386px; animation-duration: 1000ms; background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/130dad4afc0ee1280822d31fb800bd82ded7783ef8f3e894b69b8ec5874629a5bbd3bb8c68bb6b73fe6eb381f21e82222707825c197d479b2a2438_12801.jpg"); background-position: 50% 50%}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-icon-1 {height: 64px; width: 64px; margin: 83px auto 0}
.u-section-5 .u-text-3 {margin: 30px 0 0}
.u-section-5 .u-image-2 {min-height: 386px; background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/130dad4afc0ee1280822d31fb800bd82ded7783ef8f3e894b69b8ec5874629a5bbd3bb8c68bb6b73fe6eb381f21e82222707825c197d479b2a2438_12801.jpg"); background-position: 50% 50%; animation-duration: 1000ms}
.u-section-5 .u-container-layout-2 {padding: 30px}
.u-section-5 .u-icon-2 {height: 64px; width: 64px; margin: 0 auto}
.u-section-5 .u-text-4 {margin: 30px 0 0}
.u-section-5 .u-image-3 {min-height: 386px; background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/130dad4afc0ee1280822d31fb800bd82ded7783ef8f3e894b69b8ec5874629a5bbd3bb8c68bb6b73fe6eb381f21e82222707825c197d479b2a2438_12801.jpg"); background-position: 50% 50%; animation-duration: 1000ms}
.u-section-5 .u-container-layout-3 {padding: 30px}
.u-section-5 .u-icon-3 {height: 64px; width: 64px; background-image: none; margin: 83px auto 0}
.u-section-5 .u-text-5 {margin: 30px 0 0}
.u-section-5 .u-image-4 {min-height: 386px; background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/130dad4afc0ee1280822d31fb800bd82ded7783ef8f3e894b69b8ec5874629a5bbd3bb8c68bb6b73fe6eb381f21e82222707825c197d479b2a2438_12801.jpg"); background-position: 50% 50%; animation-duration: 1000ms}
.u-section-5 .u-container-layout-4 {padding: 30px}
.u-section-5 .u-icon-4 {height: 64px; width: 64px; margin: 83px auto 0}
.u-section-5 .u-text-6 {margin: 30px -10px 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 346px}
.u-section-5 .u-text-1 {margin-right: 373px; width: 568px}
.u-section-5 .u-layout-wrap-1 {width: 940px}
.u-section-5 .u-image-1 {min-height: 318px}
.u-section-5 .u-image-2 {min-height: 318px}
.u-section-5 .u-image-3 {min-height: 318px}
.u-section-5 .u-image-4 {min-height: 318px}
.u-section-5 .u-text-6 {margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 344px}
.u-section-5 .u-text-1 {margin-right: 153px}
.u-section-5 .u-layout-wrap-1 {width: 720px}
.u-section-5 .u-image-1 {min-height: 244px}
.u-section-5 .u-image-2 {min-height: 244px}
.u-section-5 .u-image-3 {min-height: 244px}
.u-section-5 .u-image-4 {min-height: 244px} }

@media (max-width: 767px){ .u-section-5 .u-text-1 {margin-right: 0; width: 540px}
.u-section-5 .u-layout-wrap-1 {width: 540px}
.u-section-5 .u-image-1 {min-height: 732px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-3 {margin-left: 1px; margin-right: 1px}
.u-section-5 .u-image-2 {min-height: 732px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-3 {min-height: 732px}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-4 {min-height: 732px}
.u-section-5 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-text-1 {width: 340px}
.u-section-5 .u-layout-wrap-1 {width: 340px}
.u-section-5 .u-image-1 {min-height: 461px}
.u-section-5 .u-icon-1 {margin-top: 0}
.u-section-5 .u-text-3 {width: auto; margin-top: 40px; margin-left: auto; margin-right: auto}
.u-section-5 .u-image-2 {min-height: 461px}
.u-section-5 .u-image-3 {min-height: 462px}
.u-section-5 .u-icon-3 {margin-top: 0}
.u-section-5 .u-image-4 {min-height: 461px}
.u-section-5 .u-icon-4 {margin-top: 0} }.u-section-6 {background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/pexels-sofi-11119833.jpg")}
.u-section-6 .u-sheet-1 {min-height: 714px}
.u-section-6 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-6 .u-layout-cell-1 {min-height: 396px}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-text-1 {margin-bottom: 0; margin-top: 0; font-weight: 700; font-size: 2.25rem}
.u-section-6 .u-text-2 {line-height: 1.8; font-size: 1.125rem; margin: 20px auto 0 0}
.u-section-6 .u-text-3 {line-height: 1.8; font-size: 1.125rem; letter-spacing: 0; margin: 20px auto 0 0}
.u-section-6 .u-layout-cell-2 {min-height: 502px}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-image-1 {height: 190px; margin: 192px auto 0 0}
.u-section-6 .u-btn-1 {font-weight: 700; align-self: center; margin: 40px auto 0; padding: 11px 109px 12px 108px}
.u-section-6 .u-btn-2 {font-weight: 700; align-self: center; background-image: none; margin: 40px auto 0; padding: 11px 108px 12px}
.u-section-6 .u-layout-cell-3 {min-height: 198px}
.u-section-6 .u-container-layout-3 {padding: 30px}
.u-section-6 .u-text-4 {margin-top: 0; line-height: 1.8; font-size: 1.125rem}
.u-section-6 .u-layout-cell-4 {min-height: 198px}
.u-section-6 .u-container-layout-4 {padding: 30px}
.u-section-6 .u-text-5 {width: 320px; line-height: 1.8; font-size: 1.125rem; margin: 0 auto 0 0} 

@media (max-width: 1199px){ .u-section-6 {background-position: 50% 50%}
.u-section-6 .u-sheet-1 {min-height: 485px}
.u-section-6 .u-layout-wrap-1 {min-height: 386px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 327px; border-right-style: solid}
.u-section-6 .u-layout-cell-2 {min-height: 414px}
.u-section-6 .u-image-1 {height: 150px; margin-right: initial; margin-left: initial}
.u-section-6 .u-btn-1 {border-style: none}
.u-section-6 .u-btn-2 {padding-left: 107px; border-style: solid}
.u-section-6 .u-layout-cell-3 {min-height: 163px}
.u-section-6 .u-layout-cell-4 {min-height: 163px}
.u-section-6 .u-text-5 {height: 250px} }

@media (max-width: 991px){ .u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-image-1 {height: 107px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-3 {min-height: 100px}
.u-section-6 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-6 .u-layout-wrap-1 {min-height: 558px; margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-1 {font-size: 3rem}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-1 {height: 309px; margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-text-1 {font-size: 1.875rem}
.u-section-6 .u-image-1 {height: 221px; width: 320px; margin-top: 0; margin-left: 0; margin-right: 0}
.u-section-6 .u-btn-1 {margin-left: 4px; padding-top: 10px; padding-right: 108px; padding-bottom: 11px}
.u-section-6 .u-btn-2 {margin-left: 4px}
.u-section-6 .u-text-4 {margin: -29px 0 0} }.u-section-7 {background-image: none}
.u-section-7 .u-sheet-1 {min-height: 324px}
.u-section-7 .u-text-1 {font-family: Montserrat; font-weight: 700; font-size: 1.875rem; margin: 60px 304px 0 38px}
.u-section-7 .u-text-2 {font-size: 1.125rem; line-height: 1.8; letter-spacing: 1px; margin: 38px 0 0 38px}
.u-section-7 .u-text-3 {font-size: 1.125rem; line-height: 1.8; margin: 20px 241px 0 38px}
.u-section-7 .u-line-1 {height: 3px; transform-origin: left center 0; width: 1557px; margin: 90px auto 0 -180px} 

@media (max-width: 1199px){ .u-section-7 {min-height: 324px}
.u-section-7 .u-text-1 {width: 798px; margin-left: 0; margin-right: 142px}
.u-section-7 .u-text-2 {width: 798px; margin-left: 0}
.u-section-7 .u-text-3 {margin-right: 199px; margin-left: 31px}
.u-section-7 .u-line-1 {width: 940px; margin-left: 0} }

@media (max-width: 991px){ .u-section-7 .u-text-1 {width: 720px; margin-right: 0}
.u-section-7 .u-text-2 {width: 720px}
.u-section-7 .u-text-3 {margin-right: 152px; margin-left: 24px}
.u-section-7 .u-line-1 {width: 720px} }

@media (max-width: 767px){ .u-section-7 .u-text-1 {width: 540px}
.u-section-7 .u-text-2 {width: 540px}
.u-section-7 .u-text-3 {margin-right: 114px; margin-left: 18px}
.u-section-7 .u-line-1 {width: 540px} }

@media (max-width: 575px){ .u-section-7 .u-text-1 {width: 340px}
.u-section-7 .u-text-2 {width: 340px}
.u-section-7 .u-text-3 {margin-right: 72px; margin-left: 11px}
.u-section-7 .u-line-1 {width: 340px} }.u-section-8 {background-image: none}
.u-section-8 .u-sheet-1 {min-height: 324px}
.u-section-8 .u-text-1 {font-family: Montserrat; font-weight: 700; font-size: 1.875rem; margin: 60px 304px 0 38px}
.u-section-8 .u-text-2 {font-size: 1.125rem; line-height: 1.8; letter-spacing: 1px; margin: 38px 0 0 38px}
.u-section-8 .u-text-3 {font-size: 1.125rem; background-image: none; line-height: 1.8; margin: 20px 0 60px 38px} 

@media (max-width: 1199px){ .u-section-8 .u-text-1 {width: 798px; margin-left: 0; margin-right: 142px}
.u-section-8 .u-text-2 {width: 798px; margin-left: 0}
.u-section-8 .u-text-3 {margin-left: 31px} }

@media (max-width: 991px){ .u-section-8 .u-text-1 {width: 720px; margin-right: 0}
.u-section-8 .u-text-2 {width: 720px}
.u-section-8 .u-text-3 {margin-left: 24px} }

@media (max-width: 767px){ .u-section-8 .u-text-1 {width: 540px}
.u-section-8 .u-text-2 {width: 540px}
.u-section-8 .u-text-3 {margin-left: 18px} }

@media (max-width: 575px){ .u-section-8 .u-text-1 {width: 340px}
.u-section-8 .u-text-2 {width: 340px}
.u-section-8 .u-text-3 {margin-left: 11px} }.u-section-9 {background-image: linear-gradient(white, #e9f2fa)}
.u-section-9 .u-sheet-1 {min-height: 713px}
.u-section-9 .u-layout-wrap-1 {margin: 60px auto}
.u-section-9 .u-layout-cell-1 {min-height: 659px}
.u-section-9 .u-container-layout-1 {padding: 30px}
.u-section-9 .u-text-1 {font-size: 3rem; font-weight: 700; margin: 33px 34px 0 12px}
.u-section-9 .u-text-2 {font-size: 1.125rem; margin: 50px 5px 0 8px}
.u-section-9 .u-layout-cell-2 {min-height: 659px}
.u-section-9 .u-container-layout-2 {padding: 30px 35px 30px 30px}
.u-section-9 .u-group-1 {width: 505px; min-height: 156px; margin: 0}
.u-section-9 .u-container-layout-3 {padding: 30px}
.u-section-9 .u-text-3 {line-height: 1.6; font-size: 1.125rem; margin: 0 -10px}
.u-section-9 .u-text-4 {font-size: 1.125rem; font-weight: 700; line-height: 1.8; margin: 20px -201px 0 0}
.u-section-9 .u-text-5 {font-size: 1.125rem; margin: 20px 0 0}
.u-section-9 .u-text-6 {font-size: 1.125rem; font-weight: 700; line-height: 1.8; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-9 .u-sheet-1 {min-height: 609px}
.u-section-9 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-9 .u-layout-cell-1 {min-height: 605px}
.u-section-9 .u-container-layout-1 {padding-left: 22px; padding-right: 22px}
.u-section-9 .u-text-1 {width: auto; margin-left: 8px; margin-right: 8px}
.u-section-9 .u-text-2 {margin-right: 0}
.u-section-9 .u-layout-cell-2 {min-height: 543px; background-position: 50% 50%}
.u-section-9 .u-group-1 {width: 130px}
.u-section-9 .u-text-3 {margin-right: 0; margin-left: 0}
.u-section-9 .u-text-4 {margin-right: 0} }

@media (max-width: 991px){ .u-section-9 .u-sheet-1 {min-height: 649px}
.u-section-9 .u-layout-cell-1 {min-height: 100px}
.u-section-9 .u-text-1 {margin-right: 0; margin-left: 0}
.u-section-9 .u-text-2 {margin-left: 0}
.u-section-9 .u-layout-cell-2 {min-height: 100px}
.u-section-9 .u-container-layout-2 {padding-right: 30px} }

@media (max-width: 767px){ .u-section-9 .u-sheet-1 {min-height: 1400px}
.u-section-9 .u-container-layout-1 {padding-right: 41px; padding-left: 10px}
.u-section-9 .u-container-layout-2 {padding-top: 0; padding-left: 10px; padding-right: 10px}
.u-section-9 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-9 .u-sheet-1 {min-height: 982px}
.u-section-9 .u-container-layout-1 {padding-right: 10px}
.u-section-9 .u-text-1 {font-size: 2.25rem}
.u-section-9 .u-layout-cell-2 {min-height: 983px}
.u-section-9 .u-container-layout-2 {padding-left: 0; padding-right: 0}
.u-section-9 .u-group-1 {min-height: 434px; margin-right: initial; margin-left: initial; width: auto} }.u-section-10 {background-image: url("images/pexels-sofi-111198331.jpg")}
.u-section-10 .u-sheet-1 {min-height: 713px}
.u-section-10 .u-layout-wrap-1 {margin: 60px auto}
.u-section-10 .u-layout-cell-1 {min-height: 677px; background-image: linear-gradient(white, #c0c0c0)}
.u-section-10 .u-container-layout-1 {padding: 30px}
.u-section-10 .u-text-1 {font-size: 3rem; font-weight: 700; margin: 0 34px 0 12px}
.u-section-10 .u-text-2 {font-size: 1.25rem; margin: 50px 5px 0 8px}
.u-section-10 .u-group-1 {width: 505px; min-height: 201px; margin: 25px -8px 0 auto}
.u-section-10 .u-container-layout-2 {padding: 30px}
.u-section-10 .u-text-3 {line-height: 1.6; margin: -2px -10px}
.u-section-10 .u-layout-cell-2 {min-height: 677px; background-image: linear-gradient(white, #c0c0c0)}
.u-section-10 .u-container-layout-3 {padding: 30px 35px 30px 30px}
.u-section-10 .u-text-4 {font-size: 1.125rem; font-weight: 700; line-height: 1.8; background-image: none; margin: 135px 0 0}
.u-section-10 .u-btn-1 {font-size: 1.125rem; background-image: none; font-weight: 700; margin: 120px auto 0 130px} 

@media (max-width: 1199px){ .u-section-10 {background-position: 50% 50%}
.u-section-10 .u-sheet-1 {min-height: 609px}
.u-section-10 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-10 .u-layout-cell-1 {min-height: 605px}
.u-section-10 .u-container-layout-1 {padding-left: 22px; padding-right: 22px}
.u-section-10 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-10 .u-text-2 {margin-right: 0; margin-left: 0}
.u-section-10 .u-group-1 {width: 426px; margin-right: 0}
.u-section-10 .u-text-3 {margin-right: 0; margin-left: 0}
.u-section-10 .u-layout-cell-2 {min-height: 558px; background-position: 50% 50%}
.u-section-10 .u-btn-1 {margin-left: 30px; border-style: none} }

@media (max-width: 991px){ .u-section-10 .u-sheet-1 {min-height: 649px}
.u-section-10 .u-layout-cell-1 {min-height: 100px}
.u-section-10 .u-group-1 {width: 316px}
.u-section-10 .u-layout-cell-2 {min-height: 100px}
.u-section-10 .u-container-layout-3 {padding-right: 30px}
.u-section-10 .u-btn-1 {margin-left: 0} }

@media (max-width: 767px){ .u-section-10 .u-sheet-1 {min-height: 1400px}
.u-section-10 .u-container-layout-1 {padding-right: 41px; padding-left: 10px}
.u-section-10 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-container-layout-3 {padding-top: 0; padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-10 .u-sheet-1 {min-height: 982px}
.u-section-10 .u-container-layout-1 {padding-right: 10px}
.u-section-10 .u-text-1 {font-size: 2.25rem}
.u-section-10 .u-btn-1 {margin-left: auto} }.u-section-11 {background-image: linear-gradient(white, #808080)}
.u-section-11 .u-sheet-1 {min-height: 713px}
.u-section-11 .u-layout-wrap-1 {margin: 60px auto}
.u-section-11 .u-layout-cell-1 {min-height: 659px}
.u-section-11 .u-container-layout-1 {padding: 30px}
.u-section-11 .u-text-1 {font-size: 3rem; font-weight: 700; margin: 8px 34px 0 12px}
.u-section-11 .u-text-2 {font-size: 1.25rem; margin: 42px 0 0 5px}
.u-section-11 .u-text-3 {font-size: 1.125rem; font-weight: 700; line-height: 1.8; margin: 20px 29px 0 12px}
.u-section-11 .u-layout-cell-2 {min-height: 659px}
.u-section-11 .u-container-layout-2 {padding: 30px 35px 30px 30px}
.u-section-11 .u-text-4 {font-size: 1.125rem; font-weight: 700; background-image: none; line-height: 1.8; margin: 154px auto 0 -8px}
.u-section-11 .u-group-1 {min-height: 179px; width: 505px; margin: 43px auto 0 0}
.u-section-11 .u-container-layout-3 {padding: 30px}
.u-section-11 .u-text-5 {line-height: 1.6; margin: -2px -10px 0} 

@media (max-width: 1199px){ .u-section-11 .u-sheet-1 {min-height: 609px}
.u-section-11 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-11 .u-layout-cell-1 {min-height: 605px}
.u-section-11 .u-container-layout-1 {padding-left: 22px; padding-right: 22px}
.u-section-11 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-11 .u-text-2 {margin-left: 0}
.u-section-11 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-11 .u-layout-cell-2 {min-height: 543px; background-position: 50% 50%}
.u-section-11 .u-text-4 {margin-left: -6px}
.u-section-11 .u-group-1 {width: 405px}
.u-section-11 .u-text-5 {margin-right: 0; margin-left: 0} }

@media (max-width: 991px){ .u-section-11 .u-sheet-1 {min-height: 649px}
.u-section-11 .u-layout-cell-1 {min-height: 100px}
.u-section-11 .u-layout-cell-2 {min-height: 100px}
.u-section-11 .u-container-layout-2 {padding-right: 30px}
.u-section-11 .u-text-4 {margin-left: -5px}
.u-section-11 .u-group-1 {width: 300px} }

@media (max-width: 767px){ .u-section-11 .u-sheet-1 {min-height: 1400px}
.u-section-11 .u-container-layout-1 {padding-right: 41px; padding-left: 10px}
.u-section-11 .u-container-layout-2 {padding-top: 0; padding-left: 10px; padding-right: 10px}
.u-section-11 .u-text-4 {margin-left: -8px}
.u-section-11 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-11 .u-sheet-1 {min-height: 982px}
.u-section-11 .u-container-layout-1 {padding-right: 10px}
.u-section-11 .u-text-1 {font-size: 2.25rem}
.u-section-11 .u-text-4 {margin-top: 0; margin-right: 0; margin-left: -5px} }.u-section-12 .u-sheet-1 {min-height: 894px}
.u-section-12 .u-custom-html-1 {min-height: 754px; height: auto; width: 1140px; margin: 60px auto} 

@media (max-width: 1199px){ .u-section-12 {min-height: 894px}
.u-section-12 .u-custom-html-1 {width: 940px} }

@media (max-width: 991px){ .u-section-12 .u-custom-html-1 {width: 720px} }

@media (max-width: 767px){ .u-section-12 .u-custom-html-1 {width: 540px} }

@media (max-width: 575px){ .u-section-12 {min-height: 258px}
.u-section-12 .u-sheet-1 {min-height: 258px}
.u-section-12 .u-custom-html-1 {min-height: 254px; width: 340px} }.u-section-13 {background-image: url("images/pexels-sofi-111198331.jpg")}
.u-section-13 .u-sheet-1 {min-height: 713px}
.u-section-13 .u-layout-wrap-1 {margin: 60px auto}
.u-section-13 .u-layout-cell-1 {min-height: 695px; background-image: linear-gradient(white, #425465)}
.u-section-13 .u-container-layout-1 {padding: 30px}
.u-section-13 .u-text-1 {font-size: 3rem; font-weight: 700; margin: 0 34px 0 12px}
.u-section-13 .u-text-2 {font-size: 1.25rem; margin: 50px 13px 0 0}
.u-section-13 .u-layout-cell-2 {min-height: 695px; background-image: linear-gradient(white, #425465)}
.u-section-13 .u-container-layout-2 {padding: 30px 35px 30px 30px}
.u-section-13 .u-group-1 {width: 505px; min-height: 275px; margin: 0 auto 0 3px}
.u-section-13 .u-container-layout-3 {padding: 30px}
.u-section-13 .u-text-3 {line-height: 1.6; margin: -1px -10px 0} 

@media (max-width: 1199px){ .u-section-13 {background-position: 50% 50%}
.u-section-13 .u-sheet-1 {min-height: 609px}
.u-section-13 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-13 .u-layout-cell-1 {min-height: 605px}
.u-section-13 .u-container-layout-1 {padding-left: 22px; padding-right: 22px}
.u-section-13 .u-text-1 {width: auto; margin-left: 8px; margin-right: 8px}
.u-section-13 .u-text-2 {margin-right: 0; margin-left: 8px}
.u-section-13 .u-layout-cell-2 {min-height: 573px; background-position: 50% 50%}
.u-section-13 .u-group-1 {width: 130px; margin-left: 0}
.u-section-13 .u-text-3 {margin-right: 0; margin-left: 0} }

@media (max-width: 991px){ .u-section-13 .u-sheet-1 {min-height: 649px}
.u-section-13 .u-layout-cell-1 {min-height: 100px}
.u-section-13 .u-text-1 {margin-right: 0; margin-left: 0}
.u-section-13 .u-text-2 {margin-left: 0}
.u-section-13 .u-layout-cell-2 {min-height: 100px}
.u-section-13 .u-container-layout-2 {padding-right: 30px} }

@media (max-width: 767px){ .u-section-13 .u-sheet-1 {min-height: 1400px}
.u-section-13 .u-container-layout-1 {padding-right: 41px; padding-left: 10px}
.u-section-13 .u-container-layout-2 {padding-top: 0; padding-left: 10px; padding-right: 10px}
.u-section-13 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-13 .u-sheet-1 {min-height: 1164px}
.u-section-13 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-13 .u-layout-cell-1 {min-height: 637px}
.u-section-13 .u-container-layout-1 {padding-right: 10px}
.u-section-13 .u-text-1 {font-size: 2.25rem}
.u-section-13 .u-layout-cell-2 {min-height: 467px}
.u-section-13 .u-container-layout-2 {padding-bottom: 0; padding-left: 0; padding-right: 0}
.u-section-13 .u-group-1 {min-height: 456px; margin-right: initial; margin-left: initial; width: auto}
.u-section-13 .u-text-3 {margin-top: 12px} }.u-section-14 .u-sheet-1 {min-height: 730px}
.u-section-14 .u-layout-wrap-1 {pointer-events: auto; margin: 70px 0}
.u-section-14 .u-image-1 {min-height: 600px; pointer-events: auto; background-image: url("images/allegro-logo-01.png"); background-position: 50% 50%}
.u-section-14 .u-container-layout-1 {padding: 30px 60px}
.u-section-14 .u-layout-cell-2 {min-height: 611px; pointer-events: auto}
.u-section-14 .u-container-layout-2 {padding: 30px 60px}
.u-section-14 .u-group-1 {min-height: 571px; height: auto; margin: 0 auto -30px 0}
.u-section-14 .u-container-layout-3 {padding: 30px 30px 23px}
.u-section-14 .u-text-1 {margin-top: 0; margin-bottom: 0}
.u-section-14 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 0 auto 0 0}
.u-section-14 .u-text-2 {margin: 17px auto 0 0}
.u-section-14 .u-text-3 {margin-left: 0; margin-bottom: 0; margin-top: 20px}
.u-section-14 .u-text-4 {margin: 20px auto 0 0}
.u-section-14 .u-text-5 {margin: 20px auto 0 0}
.u-section-14 .u-text-6 {margin: 20px auto 0 0}
.u-section-14 .u-text-7 {margin: 20px auto 0 0}
.u-section-14 .u-text-8 {margin-left: 0; margin-right: auto; margin-bottom: 0}
.u-section-14 .u-text-9 {margin-left: 0; margin-right: auto; margin-bottom: 0} 

@media (max-width: 1199px){ .u-section-14 .u-sheet-1 {min-height: 100px}
.u-section-14 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-14 .u-image-1 {min-height: 495px}
.u-section-14 .u-layout-cell-2 {min-height: 504px}
.u-section-14 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-14 .u-line-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-14 .u-image-1 {min-height: 379px}
.u-section-14 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-14 .u-layout-cell-2 {min-height: 100px}
.u-section-14 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-14 .u-sheet-1 {min-height: 390px}
.u-section-14 .u-image-1 {min-height: 569px}
.u-section-14 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-14 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-14 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-14 .u-sheet-1 {min-height: 179px}
.u-section-14 .u-image-1 {min-height: 358px} }