.u-section-1 .u-sheet-1 {min-height: 740px}
.u-section-1 .u-layout-wrap-1 {margin: 70px 0}
.u-section-1 .u-image-1 {min-height: 610px; background-image: url("images/dezsa.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-image-2 {min-height: 305px; background-image: url("images/dezsa.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-image-3 {min-height: 305px; background-image: url("images/dezsa.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-image-4 {min-height: 305px; background-image: url("images/dezsa.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-image-5 {min-height: 305px; background-image: url("images/dezsa.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-5 {padding: 30px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 388px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {min-height: 503px}
.u-section-1 .u-image-2 {min-height: 251px}
.u-section-1 .u-image-3 {min-height: 251px}
.u-section-1 .u-image-4 {min-height: 251px}
.u-section-1 .u-image-5 {min-height: 251px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 1426px}
.u-section-1 .u-image-1 {min-height: 771px}
.u-section-1 .u-image-2 {min-height: 385px}
.u-section-1 .u-image-3 {min-height: 385px}
.u-section-1 .u-image-4 {min-height: 385px}
.u-section-1 .u-image-5 {min-height: 385px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 2775px}
.u-section-1 .u-image-1 {min-height: 578px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-2 {min-height: 578px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-3 {min-height: 578px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-4 {min-height: 578px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-5 {min-height: 578px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 1705px}
.u-section-1 .u-image-1 {min-height: 364px}
.u-section-1 .u-image-2 {min-height: 364px}
.u-section-1 .u-image-3 {min-height: 364px}
.u-section-1 .u-image-4 {min-height: 364px}
.u-section-1 .u-image-5 {min-height: 364px} }