.u-block-e380-2 {position: absolute; bottom: 10px}
.u-block-e380-3 {position: absolute; left: 0}
.u-block-e380-4 {position: absolute; right: 0}.u-section-1-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/black-marble-concrete-background_124337-132.jpg"); background-position: 50% 50%}
.u-section-1-1 .u-sheet-1 {min-height: 800px}
.u-section-1-1 .u-image-1 {width: 512px; height: 512px; margin: 144px auto 0}
.u-section-1-1 .u-text-1 {margin: -327px auto 0}
.u-section-1-1 .u-text-2 {margin: 30px auto 0} 

@media (max-width: 1199px){ .u-section-1-1 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1-1 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1-1 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1-1 .u-sheet-1 {min-height: 100vh}
.u-section-1-1 .u-image-1 {width: 340px; height: 340px}
.u-section-1-1 .u-text-1 {margin-top: -317px} }.u-section-1-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/black-marble-concrete-background_124337-132.jpg"); background-position: 50% 50%}
.u-section-1-2 .u-sheet-1 {min-height: 800px}
.u-section-1-2 .u-image-1 {width: 512px; height: 512px; margin: 144px auto 0}
.u-section-1-2 .u-text-1 {margin: -272px auto 60px} 

@media (max-width: 1199px){ .u-section-1-2 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1-2 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1-2 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1-2 .u-sheet-1 {min-height: 100vh}
.u-section-1-2 .u-image-1 {width: 340px; height: 340px}
.u-section-1-2 .u-text-1 {margin-top: -217px} }.u-section-1-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/black-marble-concrete-background_124337-132.jpg"); background-position: 50% 50%}
.u-section-1-3 .u-sheet-1 {min-height: 800px}
.u-section-1-3 .u-image-1 {width: 512px; height: 512px; margin: 144px auto 0}
.u-section-1-3 .u-text-1 {margin: -272px 97px 60px} 

@media (max-width: 1199px){ .u-section-1-3 .u-sheet-1 {min-height: 660px}
.u-section-1-3 .u-text-1 {margin-right: 80px; margin-left: 80px} }

@media (max-width: 991px){ .u-section-1-3 .u-sheet-1 {min-height: 506px}
.u-section-1-3 .u-text-1 {margin-left: 61px; margin-right: 61px} }

@media (max-width: 767px){ .u-section-1-3 .u-sheet-1 {min-height: 380px}
.u-section-1-3 .u-text-1 {margin-left: 46px; margin-right: 46px} }

@media (max-width: 575px){ .u-section-1-3 .u-sheet-1 {min-height: 100vh}
.u-section-1-3 .u-image-1 {width: 340px; height: 340px}
.u-section-1-3 .u-text-1 {margin-top: -217px; margin-right: 29px; margin-left: 29px} }.u-section-1-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/black-marble-concrete-background_124337-132.jpg"); background-position: 50% 50%}
.u-section-1-4 .u-sheet-1 {min-height: 800px}
.u-section-1-4 .u-image-1 {width: 512px; height: 512px; margin: 144px auto 0}
.u-section-1-4 .u-text-1 {margin: -320px 0 60px} 

@media (max-width: 1199px){ .u-section-1-4 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1-4 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1-4 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1-4 .u-sheet-1 {min-height: 100vh}
.u-section-1-4 .u-image-1 {width: 340px; height: 340px}
.u-section-1-4 .u-text-1 {margin-top: -217px} }.u-section-1-5 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/black-marble-concrete-background_124337-132.jpg"); background-position: 50% 50%}
.u-section-1-5 .u-sheet-1 {min-height: 800px}
.u-section-1-5 .u-image-1 {width: 512px; height: 512px; margin: 144px auto 0}
.u-section-1-5 .u-text-1 {margin: -320px 0 60px} 

@media (max-width: 1199px){ .u-section-1-5 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1-5 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1-5 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1-5 .u-sheet-1 {min-height: 100vh}
.u-section-1-5 .u-image-1 {width: 340px; height: 340px}
.u-section-1-5 .u-text-1 {margin-top: -217px} }.u-section-1-6 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/black-marble-concrete-background_124337-132.jpg"); background-position: 50% 50%}
.u-section-1-6 .u-sheet-1 {min-height: 800px}
.u-section-1-6 .u-image-1 {width: 512px; height: 512px; margin: 60px auto 0}
.u-section-1-6 .u-text-1 {margin: -320px auto 348px} 

@media (max-width: 1199px){ .u-section-1-6 .u-sheet-1 {min-height: 660px}
.u-section-1-6 .u-text-1 {margin-bottom: 60px} }

@media (max-width: 991px){ .u-section-1-6 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1-6 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1-6 .u-sheet-1 {min-height: 100vh}
.u-section-1-6 .u-image-1 {width: 340px; height: 340px}
.u-section-1-6 .u-text-1 {margin-top: -148px} }.u-section-1-7 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/black-marble-concrete-background_124337-132.jpg"); background-position: 50% 50%}
.u-section-1-7 .u-sheet-1 {min-height: 800px}
.u-section-1-7 .u-image-1 {width: 512px; height: 512px; margin: 144px auto 0}
.u-section-1-7 .u-text-1 {margin: 53px auto 59px} 

@media (max-width: 1199px){ .u-section-1-7 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1-7 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1-7 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1-7 .u-sheet-1 {min-height: 100vh}
.u-section-1-7 .u-image-1 {width: 340px; height: 340px} }.u-section-1-8 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/black-marble-concrete-background_124337-132.jpg"); background-position: 50% 50%}
.u-section-1-8 .u-sheet-1 {min-height: 800px}
.u-section-1-8 .u-image-1 {width: 512px; height: 512px; margin: 144px auto 0}
.u-section-1-8 .u-text-1 {margin: 53px auto 59px} 

@media (max-width: 1199px){ .u-section-1-8 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1-8 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1-8 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1-8 .u-sheet-1 {min-height: 100vh}
.u-section-1-8 .u-image-1 {width: 340px; height: 340px} }.u-section-1-9 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/black-marble-concrete-background_124337-132.jpg"); background-position: 50% 50%}
.u-section-1-9 .u-sheet-1 {min-height: 800px}
.u-section-1-9 .u-text-1 {margin: 709px auto 59px} 

@media (max-width: 1199px){ .u-section-1-9 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1-9 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1-9 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1-9 .u-sheet-1 {min-height: 100vh} }.u-section-1-10 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/black-marble-concrete-background_124337-132.jpg"); background-position: 50% 50%}
.u-section-1-10 .u-sheet-1 {min-height: 800px}
.u-section-1-10 .u-image-1 {width: 512px; height: 512px; margin: 144px auto 0}
.u-section-1-10 .u-text-1 {margin: 53px auto 59px} 

@media (max-width: 1199px){ .u-section-1-10 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1-10 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1-10 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1-10 .u-sheet-1 {min-height: 100vh}
.u-section-1-10 .u-image-1 {width: 340px; height: 340px} }